<?php

/////////////////////////////////
///// GENERAL CONFIGURATION /////
/////////////////////////////////

// path for uploaded software packages
const PACKAGE_PATH = '/var/www/oco/depot';


///////////////////////////////
///// MySQL CONFIGURATION /////
///////////////////////////////

const DB_TYPE = 'mysql';
const DB_PORT = '3306';
const DB_HOST = 'localhost';
const DB_NAME = 'oco';
const DB_USER = 'oco';
const DB_PASS = 'PASSWORD';
