/* Allgemein */
.infobox {
	padding: 10px;
	margin-bottom: 20px;
}


/* Error-Box */
.infobox.error {
	background-color: 	rgb(204,0,0);
	color: 				white;
	font-weight: 		bold;
	border: 			2px solid rgb(150,0,0);
}

/* Warning-Box */
.infobox.warn {
	background-color: 	orange;
	color: 				white;
	border: 			2px solid rgb(150,150,0);
}

/* OK-Box */
.infobox.ok {
	background-color: 	rgb(76,175,80);
	color: 				white;
	font-weight: 		bold;
	border: 			2px solid rgb(48,139,52);
}

/* Info-Box */
.infobox.info {
	background-color: 	white;
	color: 				rgb(77,114,222);
	border: 			2px solid rgb(47,84,192);
}
.infoicon {
	font-size: 			110%;
	border: 			1px solid rgb(251,251,251);
	border-radius: 		100px;
	padding: 			0px 10px 0px 10px;
	background-color: 	rgb(27,64,172);
	color: 				white;
	box-shadow: 		0 0 1px 2px rgb(120,120,120);
}
