/*** Main ***/
body, html {
	height: 100%;
	margin: 0px;
}
html {
	background: white;
}
body {
	font-family: "Quicksand", sans-serif;
	font-size: 14px;
	color: #070707;
	margin: 0px;
}
h1 {
	font-size: 24px;
	font-weight: 200;
}
h2 {
	font-size: 20px;
	font-weight: 200;
}
h3 {
	font-size: 16px;
	font-weight: 200;
}
#container {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	align-items: stretch;
	height: 100%;
	max-height: 100%;
}
#header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 62px;
	background-color: #314351;
	color: white;
	box-sizing: border-box;
	padding: 5px 15px;
	font-weight: 100;
}
#header * {
	vertical-align: middle;
}
#header .title {
	font-size: 20px;
}
#header > .search {
	flex-grow: 1;
	position: relative;
	margin-right: 10px;
}
#header a {
	color: inherit;
	text-decoration: none;
}
#header button {
	background: transparent;
	background-color: transparent;
	border: none;
	box-shadow: none;
	color: #B3B9BE;
	text-transform: none;
}
#header button.active * {
	filter: drop-shadow(0px 0px 4px white);
}
#header button > span {
	display: inline-block;
	margin-bottom: 2px;
}
#header span.separator {
	display: inline-block;
	height: 30px;
	width: 1px;
	background-color: #B3B9BE;
	opacity: 0.2;
}
#header span.separator.space {
	margin-left: 15px;
	margin-right: 5px;
	margin-bottom: 0px;
}
#header input {
	padding: 8px 10px;
	padding-left: 32px; /* for glass icon */
	color: #B3B9BE;
	background-color: transparent;
	box-shadow: none;
	border: none;
	border-radius: 4px;
	width: 100%;
}
#header input::placeholder {
	color: #B3B9BE;
}
#header input:focus {
	color: black;
	background-color: white;
}
#header input:focus::placeholder {
	color: gray;
}
#header #search-glass {
	background-color: #B3B9BE;
	-webkit-mask: url('../img/search.dyn.svg') no-repeat center;
	mask: url('../img/search.dyn.svg') no-repeat center;
	width: 24px;
	height: 24px;
	position: absolute;
	top: 6px;
	left: 4px;
	pointer-events: none;
}
#header #search-glass.focus {
	background-color: gray;
}
#header #search-results {
	display: none;
	position: absolute;
	top: 40px;
	left: 0px;
	right: 0px;
	padding: 10px;
	color: black;
	background-color: white;
	box-shadow: 2px 2px 8px rgba(0,0,0,0.2);
	border-radius: 4px;
	z-index: 99;
}
#header #search-results.visible {
	display: block;
}

#login {
	flex-grow: 1;
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	align-items: stretch;
}
#login-form {
	flex-grow: 1;
	flex-shrink: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	background-color: #FAFAFA;
	min-width: 350px;
	max-width: 500px;
	width: 30%;
	border-right: 2px solid #DDDDDD;
	overflow: auto;
}
#login-form form {
	flex-shrink: 1;
	width: 80%;
}
#login-form form input,
#login-form form button {
	display: block;
	width: 100%;
	box-sizing: border-box;
	margin-bottom: 10px;
}
#login-form > img {
	opacity: 0.2;
}
#login-bg {
	position: relative;
	flex-grow: 1;
	flex-shrink: 1;
	background: url('../img/bg.jpg');
	background-size: cover;
	background-position: center;
	width: 70%;
	height: 100%;
}
#login-bg img#forkme {
	position: absolute;
	top: 0px;
	right: 0px;
}
#login-bg #motd {
	position: absolute;
	bottom: 0px;
	left: 0px;
	right: 0px;
	padding: 20px;
	color: rgba(255,255,255,0.7);
	text-shadow: 0px 0px 2px rgba(0,0,0,0.2);
	max-width: 600px;
}

#explorer {
	flex-grow: 1;
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	align-items: stretch;
	height: calc(100% - 62px);
}
#explorer.diffuse {
	opacity: 0.5;
}
#explorer.nosidebar #explorer-tree {
	display: none;
}
#explorer.nosidebar #explorer-content {
	flex-basis: 100%;
}
#explorer-tree {
	position: relative;
	flex-grow: 1;
	flex-shrink: 1;
	background-color: white;
	resize: horizontal;
	width: 20%;
	height: 100%;
	border-right: 2px solid #DDDDDD;
	overflow: auto;
	box-sizing: border-box;
	white-space: nowrap;
}
#explorer-tree a,
#header #search-results a,
.blockListItem {
	display: block;
	text-decoration: none;
	color: inherit;
	padding: 5px;
	border-radius: 4px;
}
#explorer-tree .node > a {
	border-radius: 0px;
}
.blockListItem {
	/* smaller padding because it contains a checkbox */
	padding: 3px;
}
.blockListItem > * {
	vertical-align: text-top;
}
#explorer-tree a:focus,
#explorer-tree a:hover,
#explorer-tree a:active,
#header #search-results a:focus,
#header #search-results a:hover,
#header #search-results a:active,
.blockListItem:focus,
.blockListItem:hover,
.blockListItem:active {
	background-color: #eeeeee;
	cursor: pointer;
}
#explorer-tree a img,
#header #search-results a img {
	width: 16px;
	margin-right: 5px;
	margin-bottom: 2px;
	vertical-align: middle;
}
#explorer-tree .node {
	border-left: 5px solid transparent;
}
#explorer-tree .node:hover {
	border-color: #0079B8;
}
#explorer-tree .node > a {
	padding: 15px 10px 15px 10px;
	margin-left: -5px;
	border-left: 5px solid transparent;
}
#explorer-tree .node:hover > a {
	border-color: #0079B8;
}
#explorer-tree .node > .subitems {
	margin-left: 17px;
}
#explorer-tree .subitems {
	max-height: 0px;
	overflow: hidden;
	margin-left: 12px;
	padding-left: 8px;
	border-left: 1px dashed rgb(150,150,150,0.4);
}
#explorer-tree .subitems.expanded {
	max-height: none;
	overflow: visible;
}
#explorer-content {
	position: relative;
	background-color: #FAFAFA;
	flex-basis: 80%;
	padding: 20px;
	box-sizing: border-box;
	overflow: scroll;
	height: 100%;
}
#explorer-content > *:first-child {
	margin-top: 0px;
	padding-top: 0px;
}
#explorer-content > .details-header:first-child > *:first-child {
	margin-top: 0px;
	padding-top: 0px;
}
#explorer-content > .details-header:first-child > *:last-child {
	margin-bottom: 0px;
	padding-bottom: 0px;
}
#explorer-content .details-abreast h1,
#explorer-content .details-abreast h2,
#explorer-content .details-abreast h3,
#explorer-content .gallery h1,
#explorer-content .gallery h2,
#explorer-content .gallery h3 {
	color: rgb(86,86,86);
}
#homepage {
	text-align: center;
}
#homepage .title {
	font-size: 20px;
}
#homepage .subtitle {
	font-size: 92%;
	opacity: 0.6;
}
#homepage .subtitle2 {
	font-weight: bold;
}

#loader-container {
	display: none;
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	background-color: transparent;
	transition: background-color 0.1s ease;
	z-index: 888;
}
#loader-container img {
	height: 90px;
}
body.loading {
	cursor: wait;
}
body.loading2 #loader-container {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(0,0,0,0.3);
}

#dialog-container {
	display: none;
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	z-index: 999;
}
#dialog-container.active {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(0,0,0,0.3);
}
#dialog-container #dialog-box {
	display: flex;
	flex-direction: column;
	width: auto;
	height: auto;
	padding: 25px;
	background-color: white;
	border-radius: 4px;
	z-index: 999;
	box-shadow: 0px 0px 25px rgba(0,0,0,0.2);
}
#dialog-container #dialog-box.large {
	width: 75%;
	height: 75%;
}
#dialog-container #dialog-box.small {
	width: 55%;
	height: 55%;
}
#dialog-container #dialog-box #dialog-title {
	margin: 0px;
}
#dialog-container #dialog-box #dialog-text {
	flex-grow: 1;
	overflow: auto;
	margin-top: 15px;
}
#dialog-container #dialog-box #dialog-text.monospace {
	font-family: monospace;
	white-space: pre-wrap;
	border-left: 2px solid rgb(200,200,200);
	padding: 10px;
}
#dialog-container #dialog-box #dialog-controls {
	margin-top: 15px;
}
#dialog-contents {
	display: none;
}

#message-container {
	position: fixed;
	top: 62px;
	right: 0px;
	width: 22%;
	min-width: 200px;
	padding: 5px;
	z-index: 999;
}
#message-container .message {
	position: relative;
	background-color: white;
	color: gray;
	padding: 15px;
	padding-right: 30px;
	margin-bottom: 10px;
	border-radius: 3px;
	box-shadow: 0px 0px 6px rgba(0,0,0,0.35);
	overflow-x: hidden;
	overflow-y: auto;
	animation: message-in 0.4s ease 0s forwards;
}
#message-container .message.icon {
	padding-left: 44px;
	background-size: 24px;
	background-position: 10px center;
	background-repeat: no-repeat;
}
#message-container .message.info {
	border-left: 6px solid #0f6082;
	background-image: url('../img/info.message.svg');
}
#message-container .message.success {
	border-left: 6px solid #87CA81;
	background-image: url('../img/tick.message.svg');
}
#message-container .message.warning {
	border-left: 6px solid #FFC122;
	background-image: url('../img/warning.message.svg');
}
#message-container .message.error {
	border-left: 6px solid #EC5870;
	background-image: url('../img/error.message.svg');
}
#message-container .message .message-title {
	font-weight: bold;
	color: black;
}
#message-container .message .message-close {
	position: absolute;
	width: 20px;
	height: 20px;
	top: calc(50% - 10px);
	right: 6px;
	padding: 0px;
	border: none;
	background-image: url('../img/close.opacity.svg');
	background-size: 20px 20px;
	background-position: center center;
	background-color: transparent;
	box-shadow: none;
	color: transparent;
}
@keyframes message-in {
	0%   { opacity:0; max-height:0px; }
	100% { opacity:1; max-height:350px; }
}

.quote {
	border-left: 2px solid rgb(200,200,200);
	padding: 10px;
}

.hidden {
	display: none;
}

.gallery {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}
.gallery > * {
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 0px;
}
.gallery > * > * {
	width: 100%;
}
.gallery > * > *:first-child {
	margin-top: 0px;
}

.controls {
	display: flex;
	flex-direction: row;
	align-items: stretch;
	margin: 16px 0px;
}
.controls:last-child {
	margin-bottom: 0px;
}
.spread {
	display: flex;
	flex-direction: row;
	align-items: stretch;
	justify-content: space-between;
}
.controls.right {
	justify-content: right;
}
.controls > * {
	display: inline-block;
	vertical-align: middle;
	margin-right: 4px;
}
.controls > *.nomarginright {
	margin-right: 0px;
}
.controls > *:last-child {
	margin-right: 0px;
}
.controls > span,
.controls label {
	display: flex;
	align-items: center;
}
.controls select {
	max-width: 200px;
}
.controls.subfolders {
	flex-wrap: wrap;
}
.controls.subfolders a {
	display: inline-flex;
	align-items: center;
	text-decoration: none;
	margin-top: 4px;
}
.fillwidth {
	flex-grow: 1;
}

.inlineblock {
	display: inline-block;
}

h1 img {
	margin-right: 15px;
	margin-bottom: 5px;
	vertical-align: middle;
	width: 35px;
}
h2 img {
	margin-right: 10px;
	margin-bottom: 4px;
	vertical-align: middle;
	width: 22px;
}

table {
	border-spacing: 0px;
}
table th, table td {
	text-align: left;
	padding: 2px 4px;
}
table.aligned tr > *:first-child {
	padding-left: 0px;
}
table.aligned tr > *:last-child {
	padding-right: 0px;
}

#txtDescription {
	width: 100%;
	resize: vertical;
}
table.list, .boxshadow {
	box-shadow: 1px 1px 4px 0 rgba(0,0,0,0.08);
}

/*** INPUTS & BUTTONS ***/
.box {
	box-sizing: border-box;
	background-color: white;
	padding: 10px;
	border: 2px solid #DBDBDB;
	border-radius: 3px;
}
.box > *:first-child {
	margin-top: 0px;
}
.box > *:last-child {
	margin-bottom: 0px;
}
.box .subgroup {
	margin-left: 22px;
}
input, select, button, textarea {
	box-sizing: border-box;
	font-family: inherit;
	font-size: inherit;
	border: 2px solid #DBDBDB;
	border-radius: 3px;
	padding: 5px;
	outline: none;
}
input, select, textarea, button {
	background-color: white;
}
input:focus, select:focus, textarea:focus {
	border-color: #C4C4C4;
}
input:disabled, select:disabled, textarea:disabled, .disabled,
input:not([type=file]):read-only, textarea:read-only {
	background-color: rgb(240, 240, 240);
	background-image: repeating-linear-gradient(45deg, rgb(255,255,255), rgb(255,255,255) 10px, rgb(240, 240, 240) 10px, rgb(240, 240, 240) 20px);
}
input.tableSearch {
	width: 100%;
	min-width: 80px;
	padding: 2px;
	border: none !important;
	box-shadow: none !important;
}
table.form input:not([type=checkbox]):not([type=radio]),
table.form select,
table.form textarea {
	width: 100%;
}
table.form th:not(:first-child) {
	padding-left: 25px;
}
table.form tr:not(.nospace) th, table.form tr:not(.nospace) td {
	padding-bottom: 10px;
}
/* default button */
button {
	cursor: pointer;
	color: #4C4C4C;
	background-color: #E4E4E4;
	letter-spacing: 0.2px;
	text-transform: uppercase;
	text-decoration: none;
	padding: 6px 7px;
	border-color: rgba(0,0,0,0.1);
}
button.small,
tfoot button {
	padding: 3px 4px;
}
button.small img,
tfoot button img {
	height: 16px !important;
}
button:hover,
button:focus {
	background-color: #EDEDED;
}
button:active:not(:disabled) {
	box-shadow: 0px 0px 10px rgba(0,0,0,0.4) inset;
}
button:disabled {
	color: #C0C0C0 !important;
	cursor: not-allowed !important;
	background-color: #EDEDED !important;
}
button:disabled > img {
	opacity: 0.2;
}
button > img {
	vertical-align: middle;
	margin-bottom: 1px;
}
button > select {
	padding: 1px;
}
/* primary button */
button.primary {
	color: white;
	font-weight: bold;
	background-color: #007CBB;
}
button.primary:hover,
button.primary:focus {
	background-color: #004a70;
}

.drag {
	text-align: center;
	cursor: move;
}
.draggable.nodrag .drag {
	cursor: not-allowed;
}
.drag img {
	pointer-events: none;
}
.draggable.nodrag .drag img {
	opacity: 0.4;
}

.inputWithLabel {
	display: flex;
	align-items: center;
	vertical-align: middle;
}
.inputWithLabel > *:not(:last-child) {
	margin-right: 5px;
	width: auto !important;
	flex-grow: 1;
}
.inputWithLabel > div {
	text-align: right;
	min-width: 25px;
}
.stretchInput {
	display: flex;
	align-items: center;
	vertical-align: middle;
}
.stretchInput > * {
	width: auto !important;
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 1;
}
.stretchInput > *:not(:last-child) {
	margin-right: 5px;
}

table.largepadding td,
table.largepadding th {
	padding: 15px;
}
table.list {
	border-spacing: 0;
	background-color: white;
}
table.list tr th, table.list tr td {
	border-bottom: 1px solid rgba(0,0,0,0.2);
}
table.list tr th.middle > *, table.list tr td.middle > * {
	vertical-align: middle;
}
table.list tr:first-child th,
table.list tr:first-child td {
	border-top: 1px solid rgba(0,0,0,0.2);
}
table.list tr th:first-child,
table.list tr td:first-child {
	border-left: 1px solid rgba(0,0,0,0.2);
}
table.list tr th:last-child,
table.list tr td:last-child {
	border-right: 1px solid rgba(0,0,0,0.2);
}
table.list tr:first-child th:first-child,
table.list tr:first-child td:first-child {
	border-top-left-radius: 2px;
}
table.list tr:first-child th:last-child,
table.list tr:first-child td:last-child {
	border-top-right-radius: 2px;
}
table.list tr:last-child th:first-child,
table.list tr:last-child td:first-child {
	border-bottom-left-radius: 2px;
}
table.list tr:last-child th:last-child,
table.list tr:last-child td:last-child {
	border-bottom-right-radius: 2px;
}
table.metadata tr th:first-child {
	width: 40%;
}

table.list .sortbutton {
	width: 100%;
	height: 100%;
	border: none;
	background-color: transparent;
	font: inherit;
	color: inherit;
	text-align: inherit;
	padding: 0;
	cursor: pointer;
	box-shadow: none;
	text-transform: none;
}
table.list .sortsymbol::after {
	display: inline-block;
	letter-spacing: -.2em;
	margin-left:.1em;
	width: 1.8em;
}
table.list .sortsymbol.sortedasc::after {
	display: inline;
	content: "▲▽";
}
table.list .sortsymbol.sorteddesc::after {
	display: inline;
	content: "△▼";
}
table.list .sortsymbol.unsorted::after {
	display: inline;
	content: "△▽";
}
table.list tfoot .spread {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
table.list tfoot .spread > div:last-child {
	text-align: right;
}

img.small,
table tr th > img,
table tr td > img {
	height: 16px;
	vertical-align: middle;
	margin-bottom: 2px;
}
table tr td button > img {
	height: 24px;
}

table.fixed {
	table-layout: fixed;
}

.subbuttons > button {
	opacity: 0;
	transition: opacity 0.2s ease;
	vertical-align: middle;
	margin: -2px 0px 0px 0px;
	padding: 0px;
	border: none;
	background: transparent;
	background-color: transparent !important;
	box-shadow: none !important;
}
.subbuttons .subbutton {
	opacity: 0;
	display: none;
}
a.subbuttons > button {
	margin-left: 4px;
}
.subbuttons > button:first-child {
	margin-left: 0px;
}
.subbuttons > button > img {
	display: block;
	margin: 0px;
}
.subbuttons:hover > button,
.subbuttons:hover .subbutton {
	opacity: 0.85;
}
.subbuttons:hover > button:hover,
.subbuttons:hover .subbutton:hover {
	opacity: 1;
}
.subbuttons:hover .subbutton {
	display: block;
}

.small {
	font-size: 90%;
}
.monospace {
	font-family: monospace;
}
.rawvalue {
	display: none;
}

code {
	display: inline-block;
	background-color: rgba(150,150,150,0.2);
	border-radius: 2px;
	padding: 1px 4px;
	margin: 1px 0px;
}
code.block {
	margin: auto;
	padding: 6px;
	display: block;
	line-height: 1.3;
}
code.block.hscroll {
	white-space: pre;
	overflow-x: auto;
}

div.details-abreast {
	display: flex;
	align-items: flex-start;
	column-gap: 25px;
}
div.details-abreast > div h1,
div.details-abreast > div h2,
div.details-abreast > div h3 {
	margin-top: 25px;
}
div.details-abreast > div {
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 100%;
	width: 0px;
	overflow: auto;
	/* to preserve table box shadow */
	padding: 4px;
	margin: -4px;
}
div.details-abreast > div > table {
	width: 100%;
}
div.details-abreast > div.stickytable {
	overflow: visible;
}
div.details-abreast > div.stickytable > table.list thead,
div.details-abreast > div.stickytable > table.list tfoot {
	position: sticky;
	background-color: white;
	z-index: 2;
}
div.details-abreast > div.stickytable > table.list thead {
	inset-block-start: -20px;
}
div.details-abreast > div.stickytable > table.list tfoot {
	inset-block-end: -20px;
}

.offline {
	opacity: 0.4;
}

.vl {
	display: inline-block;
	width: 2px;
	min-width: 2px;
	border-radius: 2px;
	background-color: #DDDDDD;
}
.fullwidth {
	width: 100%;
}
.margintop {
	margin-top: 16px !important;
}
.marginbottom {
	margin-bottom: 16px !important;
}
.center {
	text-align: center;
}

.progressbar-container {
	display: inline-block;
	white-space: nowrap;
	max-width: 100%;
}
.progressbar-container.stretch {
	width: 100%;
}
.progressbar-container.stretch .progressbar {
	width: calc(100% - 36px);
}
.progressbar-container > .progresstext {
	margin-left: 4px;
	width: 26px;
}
.progressbar {
	vertical-align: middle;
	display: inline-block;
	height: 16px;
	max-width: calc(100% - 36px);
	width: 250px;
	background-color: #EEEEEE;
	border-radius: 2px;
	overflow: hidden;
	margin-bottom: 2px;
	text-align: left;
}
.progressbar > .progress {
	display: inline-block;
	height: 100%;
	background-color: #0079B8;
	border-radius: 2px;
}
.progressbar > .progress.animated {
	width: 100%;
	background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.25) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0.25) 75%, transparent 75%, transparent);
	background-size: 1rem 1rem;
	animation: progressbar-stripes 1s linear infinite;
}
@keyframes progressbar-stripes {
	from { background-position: 1rem 0; }
	to { background-position: 0 0; }
}

.footer {
	position: absolute;
	bottom: 2px; left: 2px; right: 2px;
	font-size: 95%;
	opacity: 0.5;
}
.footer a {
	color: inherit;
	text-decoration: none;
}
.footer a:hover {
	text-decoration: underline;
}

#btnHidden {
	position: fixed;
	bottom: 0px;
	right: 0px;
	height: 12px;
	width: 12px;
	opacity: 0;
	border: none;
	background-color: transparent;
}
#btnHidden:hover {
	opacity: 1;
	animation: anim 3s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}
@keyframes anim {
	000% {background-color: red;}
	010% {background-color: green;}
	020% {background-color: blue;}
	030% {background-color: yellow;}
	040% {background-color: orange;}
	050% {background-color: purple;}
	060% {background-color: brown;}
	070% {background-color: pink;}
	080% {background-color: lime;}
	090% {background-color: cyan;}
	100% {background-color: teal;}
}

#divComputerList, #divComputerGroupList,
#divPackageList, #divPackageGroupList {
	resize: vertical;
	min-height: 100px;
	height: 140px;
	overflow-y: scroll;
	margin-bottom: 10px;
	padding: 0px;
}
#divComputerList input[type=checkbox], #divComputerGroupList input[type=checkbox],
#divPackageList input[type=checkbox], #divPackageGroupList input[type=checkbox] {
	margin-right: 8px;
}

.resizeVertical {
	resize: vertical;
}
.bold {
	font-weight: bold;
}

.listSearch {
	position: relative;
}
.listSearch input[type=checkbox] {
	position: absolute;
	top: 5px;
	left: 3px;
}
.listSearch input[type=text] {
	display: block;
	padding-left: 27px;
	width: 100%;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}
.box.listSearchList {
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-top-width: 0px;
}
.inputwithbutton {
	position: relative;
}
.inputwithbutton button {
	position: absolute;
	box-sizing: border-box;
	height: calc(100% - 4px);
}
.inputwithbutton button img {
	height: 16px;
	display: flex;
}

.alert {
	border-radius: 2px;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 8px !important;
}
.alert.info {
	background: #e1f1f6;
	color: #565656;
	border: 1px solid #49afd9
}
.alert.success {
	background: #dff0d0;
	color: #565656;
	border: 1px solid #60b515
}
.alert.warning {
	background: #feecb5;
	color: #565656;
	border: 1px solid #ffdc0b
}
.alert.error {
	background: #f5dbd9;
	color: #565656;
	border: 1px solid #ebafa6
}

@media (max-width: 1050px) {
	div.details-abreast {
		flex-wrap: wrap;
	}
	div.details-abreast > div {
		width: 100%;
		overflow: visible;
		padding: 0px;
		margin: 0px;
	}
	.controls {
		flex-wrap: wrap;
	}
	.controls > * {
		margin-top: 4px;
		margin-bottom: 4px;
	}
}
@media (max-width: 750px) {
	#header {
		justify-content: center;
		flex-direction: column;
		height: 115px;
	}
	#header .separator.space {
		display: none;
	}
	#header > .search {
		width: 278px;
		margin-right: 0px;
	}
	#explorer,
	#login {
		display: block;
		height: auto;
		overflow: auto;
	}
	#explorer #explorer-tree,
	#login #login-form {
		width: 100%;
		height: 100%;
		max-width: none;
		min-width: auto;
		border: none;
	}
	#explorer:not(.nosidebar) #explorer-content {
		display: none;
	}
	#login #login-bg {
		display: none;
	}
}

@media (prefers-color-scheme: dark) {
	html, #explorer-content {
		background-color: #0d1117;
	}
	#explorer-tree, #login-form, #dialog-container #dialog-box, #header #search-results {
		background-color: #161b22;
		border-color: rgba(255,255,255,0.1);
	}
	#dialog-container.active {
		background-color: rgba(0,0,0,0.45);
	}
	#message-container .message {
		background-color: black;
	}
	#message-container .message .message-title {
		color: white;
	}
	#explorer-tree a:focus,
	#explorer-tree a:hover,
	#explorer-tree a:active,
	#header #search-results a:focus,
	#header #search-results a:hover,
	#header #search-results a:active,
	.blockListItem:focus,
	.blockListItem:hover,
	.blockListItem:active {
		background-color: #30363d;
	}
	#header input:focus {
		color: white;
		background-color: #141414;
	}
	#header input:focus::placeholder {
		color: gray;
	}
	#header #search-glass.focus {
		background-color: white;
	}
	body, a, #header #search-results,
	#explorer-content .details-abreast h1,
	#explorer-content .details-abreast h2,
	#explorer-content .details-abreast h3,
	#explorer-content .gallery h1,
	#explorer-content .gallery h2,
	#explorer-content .gallery h3 {
		color: #E9ECEF;
	}
	code.block {
		border: 1px solid rgba(255,255,255,0.1);
	}
	table.list, code, .box,
	div.details-abreast > div.stickytable > table.list thead,
	div.details-abreast > div.stickytable > table.list tfoot {
		background-color: #161b22;
	}
	table.list tr th, table.list tr td {
		border-bottom: 1px solid rgba(255,255,255,0.1);
	}
	table.list tr:first-child th,
	table.list tr:first-child td {
		border-top: 1px solid rgba(255,255,255,0.1);
	}
	table.list tr th:first-child,
	table.list tr td:first-child {
		border-left: 1px solid rgba(255,255,255,0.1);
	}
	table.list tr th:last-child,
	table.list tr td:last-child {
		border-right: 1px solid rgba(255,255,255,0.1);
	}
	.box {
		border: 2px solid rgba(255,255,255,0.1);
	}
	input:not([type=range]):not([type=radio]):not([type=checkbox]), select, textarea {
		color: white;
		background-color: transparent;
		border: none;
		border-bottom: 1px solid rgba(255,255,255,0.4);
		border-radius: 0px;
		box-shadow: none;
	}
	input:disabled, select:disabled, textarea:disabled, .disabled,
	input:not([type=file]):read-only, textarea:read-only {
		background-color: rgb(240, 240, 240, 0.1);
		background-image: repeating-linear-gradient(45deg, transparent, transparent 10px, rgb(240, 240, 240, 0.1) 10px, rgb(240, 240, 240, 0.1) 20px);
	}
	input:not([type=range]):not([type=radio]):not([type=checkbox]):focus, input:not([type=range]):not([type=radio]):not([type=checkbox]):hover,
	textarea:focus, textarea:hover,
	select:focus, select:hover {
		border-bottom: 1px solid rgba(255,255,255,0.5);
		box-shadow: none;
	}
	input:not([type=range]):not([type=radio]):not([type=checkbox]):active,
	textarea:active,
	select:active {
		border-bottom: 1px solid rgba(255,255,255,0.6);
		box-shadow: none;
	}
	button {
		color: white;
		background-color: #21262d;
		border-color: rgba(255,255,255,0.1);
	}
	button.primary {
		background-color: #006193;
	}
	button.primary:hover,
	button.primary:focus {
		background-color: #004a70;
	}
	button:hover,
	button:focus {
		background-color: #30363d;
	}
	button:disabled {
		color: #484f58 !important;
		background-color: #21262d !important;
	}
	.progressbar {
		background-color: #324650;
	}
	.progressbar > .progress {
		background-color: #49AFD9;
	}
	.alert.info {
		background: #0f6082;
		color: #e9ecef;
		border: 1px solid transparent
	}
	.alert.success {
		background: #62a420;
		color: #fff;
		border: none
	}
	.alert.warning {
		background: #7f6509;
		color: #e9ecef;
		border: 1px solid transparent
	}
	.alert.error {
		background: #882d31;
		color: #e9ecef;
		border: 1px solid transparent
	}
	.vl {
		background-color: rgba(255,255,255,0.2);
	}
}

@media print {
	#explorer > #explorer-tree, .controls {
		display: none;
	}
	#explorer {
		height: auto;
	}
	#explorer > #explorer-content {
		flex-basis: 100%;
		overflow: auto;
	}
	table.list .sortsymbol::after {
		content: '' !important;
	}
	.noprint {
		display: none !important;
	}
}
