[Desktop Entry]
Type=Application
Name=OCO Linux Client Extension
Exec=/usr/bin/oco-client-extension-linux.py %u
StartupNotify=false
MimeType=x-scheme-handler/nmap;
NoDisplay=true

# execute `update-desktop-database` after copying into /usr/share/applications
